App_WebReferences/wcfDatos/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53529/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53529/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53529/Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ModificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_ModificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProveedor" />
  </wsdl:message>
  <wsdl:message name="IService_AgregarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedor" />
  </wsdl:message>
  <wsdl:message name="IService_BuscarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ModificarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProveedor" />
  </wsdl:message>
  <wsdl:message name="IService_ModificarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ListarPrivilegios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPrivilegios" />
  </wsdl:message>
  <wsdl:message name="IService_ListarPrivilegios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPrivilegiosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ValidarUsuario" message="tns:IService_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ValidarUsuarioResponse" message="tns:IService_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarUsuario" message="tns:IService_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarUsuarioResponse" message="tns:IService_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuscarUsuario" message="tns:IService_BuscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuscarUsuarioResponse" message="tns:IService_BuscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ModificarUsuario" message="tns:IService_ModificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ModificarUsuarioResponse" message="tns:IService_ModificarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EliminarUsuario" message="tns:IService_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EliminarUsuarioResponse" message="tns:IService_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AgregarProveedor" message="tns:IService_AgregarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AgregarProveedorResponse" message="tns:IService_AgregarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/BuscarProveedor" message="tns:IService_BuscarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/BuscarProveedorResponse" message="tns:IService_BuscarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ModificarProveedor" message="tns:IService_ModificarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ModificarProveedorResponse" message="tns:IService_ModificarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPrivilegios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ListarPrivilegios" message="tns:IService_ListarPrivilegios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ListarPrivilegiosResponse" message="tns:IService_ListarPrivilegios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/BuscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProveedor">
      <soap:operation soapAction="http://tempuri.org/IService/AgregarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedor">
      <soap:operation soapAction="http://tempuri.org/IService/BuscarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarProveedor">
      <soap:operation soapAction="http://tempuri.org/IService/ModificarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPrivilegios">
      <soap:operation soapAction="http://tempuri.org/IService/ListarPrivilegios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:53529/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>